<div class="form-container col-sm-12 col-md-12 col-lg-12">

  <h3>My Account</h3>
  <h6>Change Notification details</h6>
  <hr />
  <div *ngIf="!isValid" class="alert alert-danger">
    Please enter all details.
  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-12">
    <h5 for="username">Username</h5>
    <input type="text" class="form-control" id="username" [(ngModel)]="userName" #name="ngModel" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required"> Username is required. </div>
    </div>
  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-12">
    <h5 for="email">Email</h5>
    <input type="email" class="form-control" id="email" [(ngModel)]="email" #emailAdd="ngModel">
    <div *ngIf="emailAdd.invalid && (emailAdd.dirty || emailAdd.touched)" class="alert alert-danger">
      <div *ngIf="emailAdd.errors.required"> Email is required. </div>
    </div>
  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-12">
    <h5 for="contactNumber">Contact Number</h5>
    <input type="text" class="form-control" id="contactNumber" [(ngModel)]="contactNumber" #contact="ngModel">
    <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger">
      <div *ngIf="contact.errors.required"> Contact Number is required. </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary form-btn col-sm-6 col-md-6 col-lg-6" (click)="updateUserDetails()">Update</button>

</div>