/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #373546 !important;
    color: white !important;
    font-size: 12px !important;
    letter-spacing: 0.5px !important;
}

  .clickable{
      cursor: pointer;
  }